.avatar_container {
    margin-right: 1.5rem;
}

.avatar_container__pic {
    border-radius: 50%;
    padding: 2px;

    img {
        border-radius: 50%;
    }
}

.avatar_container__text {
    color: #fff;
    text-align: center;
    margin-top: 0.8rem;
    font-size: 1rem;
}